.rt-pages,
.rt-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--rt-page-background-color);
}

.rt-pages {
  --rt-page-transition-duration: 500ms;
  --rt-page-background-color: var(--app-background-color, #fff);

  position: relative;
}

.rt-page {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 1;
  opacity: 1;
  transform: none;

  &.rt-page-enter,
  &.rt-page-exit {
    pointer-events: none;
  }
}

.rt-page-enter,
.rt-page-enter-done {
  z-index: 2;
}

.rt-page-exit,
.rt-page-exit-done {
  z-index: 1;
}

.rt-pages-backward .rt-page-enter,
.rt-pages-backward .rt-page-enter-done {
  z-index: 1;
}

.rt-pages-backward .rt-page-exit,
.rt-pages-backward .rt-page-exit-done {
  z-index: 2;
}

/* parallax */
.rt-pages-forward.rt-pages-parallax {
  .rt-page-enter {
    animation: rt-parallax-next-to-current var(--rt-page-transition-duration)
      forwards;
  }

  .rt-page-exit {
    animation: rt-parallax-current-to-prev var(--rt-page-transition-duration)
      forwards;
  }
}

.rt-pages-backward.rt-pages-parallax {
  .rt-page-exit {
    animation: rt-parallax-current-to-next var(--rt-page-transition-duration)
      forwards;
  }

  .rt-page-enter {
    animation: rt-parallax-prev-to-current var(--rt-page-transition-duration)
      forwards;
  }
}

@keyframes rt-parallax-next-to-current {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes rt-parallax-current-to-next {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes rt-parallax-current-to-prev {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-20%);
  }
}

@keyframes rt-parallax-prev-to-current {
  0% {
    transform: translateX(-20%);
  }

  100% {
    transform: translateX(-0%);
  }
}

/* fade */
.rt-pages-forward.rt-pages-fade {
  .rt-page-enter {
    opacity: 0 !important;
    animation: rt-fade-in var(--rt-page-transition-duration) forwards;
  }

  .rt-page-exit {
    animation: rt-fade-out var(--rt-page-transition-duration) forwards;
  }
}

.rt-pages-backward.rt-pages-fade {
  .rt-page-exit {
    animation: rt-fade-out var(--rt-page-transition-duration) forwards;
  }

  .rt-page-enter {
    animation: rt-fade-in var(--rt-page-transition-duration) forwards;
  }
}

@keyframes rt-fade-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rt-fade-out {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* cover */
.rt-pages-forward.rt-pages-cover,
.rt-pages-backward.rt-pages-cover {
  background: #000;
  perspective: 1200px;
}

.rt-pages-forward.rt-pages-cover {
  .rt-page-enter {
    animation: rt-cover-next-to-current var(--rt-page-transition-duration)
      forwards;
  }

  .rt-page-exit {
    animation: rt-cover-current-to-prev var(--rt-page-transition-duration)
      forwards;
  }
}

.rt-pages-backward.rt-pages-cover {
  .rt-page-exit {
    animation: rt-cover-current-to-next var(--rt-page-transition-duration)
      forwards;
  }

  .rt-page-enter {
    animation: rt-cover-prev-to-current var(--rt-page-transition-duration)
      forwards;
  }
}

@keyframes rt-cover-next-to-current {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes rt-cover-current-to-next {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes rt-cover-current-to-prev {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }

  100% {
    transform: translateZ(-300px);
    opacity: 0.5;
  }
}

@keyframes rt-cover-prev-to-current {
  0% {
    transform: translateZ(-300px);
    opacity: 0.5;
  }

  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

/* dive */
.rt-pages-forward.rt-pages-dive,
.rt-pages-backward.rt-pages-dive {
  background: var(--rt-page-background-color);
  perspective: 1200px;
}

.rt-pages-forward.rt-pages-dive {
  .rt-page-enter {
    animation: rt-dive-next-to-current var(--rt-page-transition-duration)
      forwards;
  }

  .rt-page-exit {
    animation: rt-dive-current-to-prev var(--rt-page-transition-duration)
      forwards;
  }
}

.rt-pages-backward.rt-pages-dive {
  .rt-page-exit {
    animation: rt-dive-current-to-next var(--rt-page-transition-duration)
      forwards;
  }

  .rt-page-enter {
    animation: rt-dive-prev-to-current var(--rt-page-transition-duration)
      forwards;
  }
}

@keyframes rt-dive-next-to-current {
  0% {
    opacity: 0;
    transform: translateZ(-150px);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes rt-dive-current-to-next {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateZ(-150px);
  }
}

@keyframes rt-dive-current-to-prev {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateZ(150px);
  }
}

@keyframes rt-dive-prev-to-current {
  0% {
    opacity: 0;
    transform: translateZ(150px);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
