:root {
  --app-background-color: #fff;
  --app-transition-duration: 400ms;
}

body {
  margin: 0;
  background-color: var(--app-background-color);
}

html,
body,
.app {
  height: 100%;
  overflow: hidden;
}
